body {
    background: black;
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    font-family: sans-serif;
    font-size: 14px;
}

#colors {
    position: absolute;
    top: 54px;
    left: 8px;
    padding: 0;
    margin: 0;
    width: 200px;
    li {
        display: inline-block;
        opacity: 0.3;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 64px;
        border-radius: 50%;
        border: 2px solid white;
        cursor: pointer;
        -webkit-transition: opacity ease-in-out 0.5s;
        -moz-transition: opacity ease-in-out 0.5s;
        transition: opacity ease-in-out 0.5s;
        &.active {
            opacity: 0.3;
        }
    }
}
ul#colors li:hover, #colors li.active {
    opacity: 1.0;
    width: 80px;
    height: 80px;
    margin: 0;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

canvas {
    position: absolute;
    z-index: -1;
    clear: left;
}


#header {
    position: absolute;
    width: 100%;
}

#clear:hover {
    background: rgb(170,14,0); /* Old browsers */
}
.actions {
    float: right;
    margin: 8px;
    margin-top: 14px;
}
.button {
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2;
    transition: all ease-out 0.2s;
    color: #ddd;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    /*width: 100px;*/
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #333;
    text-decoration: none;
    vertical-align:baseline;
    /*background: #4c4c4c; [> Old browsers <]*/
}
.button:hover {
    color: #fff;
    border-color: #fff;
}
#social {
    display: inline-block;
    vertical-align: bottom;
}
#social > * {
    padding-top: 1px;
    display: inline-block;
    opacity: 0.5;
}
#social > *:hover {
    opacity: 1.0;
}

h1 {
    margin-left: 4px;
}

h1, p {
    margin-top: 4px;
    color: #fff;
    opacity: 0.5;
    font-family: Michroma, sans-serif;
    display: inline;
}

p { 
    margin-right: 4px;
}

h1:hover, p:hover {
    opacity: 1.0;
}
h1 a, p a {
    color: #fff;
    text-decoration: none;
}
noscript {
    color: white;
}

body #guidat {
    top: 44px;
    right: 10px;
    position: absolute;
    .guidat {
        margin: 0;
    }
}

.guidat-toggle {
    display: none !important;
}
